body {
  font-family: 'Lato', sans-serif;
}

input {
	border: 0px;
	font-size: 18px;
	width: 100%;
	height: 100%;
	margin: auto;
	padding-left: 8px;
	padding-right: 8px;
}

input:focus {
	outline: none;
}

#logo {
  font-weight: 900;
  font-size: 18px;
}

#logo #wink, #manual_header {
  font-family: monospace;
}

#logo #the {
  font-weight: 400;
}

#logo #shell {
  color: #00b0f0;
}

#screen {
  margin-top: 54px;
  margin-bottom: 54px;
  height: 600px;
}

#breadcrumb {
  font-size: 20px;
}

.ui.emphasized.segment {
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
  background-color: #fcfcfc;
}

input.emphasized {
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
  background-color: #fcfcfc;
}

.no_right_pad{
  padding-right: 0px !important;
  padding-left: 16px !important;
}

.no_left_pad{
  padding-left: 5px !important;
}

.rename_desc{
  font-size: 18px;
  margin-bottom: 5px;
}

.input.rename{
  width: 100% !important;
  font-size: 15px;
  box-shadow: 0 0 0 0 !important;
  height: 30px;
  margin-left: 0px !important;
}

#rename_submit{
  margin-top: 10px;
}

.command {
  font-family: monospace;
  font-size: 17px;
  padding: 0px 0px 0px 0px !important;
  margin: 0 !important;
  background-color: #ffffff;
}

.command_color{
  font-family: monospace;
  font-size: 17px;
  padding: 0px 0px 0px 0px !important;
  margin: 0 !important;
  background-color: #F4F4F4;
}

.command_text{
  word-wrap: break-word;
  white-space: normal;
  display: block;
  line-height: 130%;
}

#command_line{
  font-family: monospace;
}

.help.icon {
  opacity: 0.6;
}

.help.icon:hover {
  transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
  opacity: 1;
}

.close.icon {
  z-index: 1001 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  margin: 0em 0em 0em -44% !important;
}

.manual {
  position: absolute;
  width: 40% !important;
  margin: 0em 0em 0em -44%;
  z-index: 1001;
  top: 35% !important;
  left: 0% !important;
  margin-left: 55% !important;
  visibility: hidden;
  text-align: left;
  background: #ffffff;
  border: none;
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
  transform-origin: 50% 25%;
  border-radius: 0.28571429rem;
}

#ctxMenu{
    background: #FFFFFF;
    display:none;
    z-index:100;
    position: absolute;
}

#ctxMenu:hover {
  font-weight:bold;
}

.ui-box {
  width: 1200px;
}
